img{
	position:relative;
}

.w3-codespan {
  font-size: 105%;
  background-color: rgba(222,222,222,0.3);
}

.center{
  display:block; 
  margin: auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.round_img{
  border-radius:50%;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

.nav-wrapper {
  background-color: black !important;
}

body{
  background-color: blanchedalmond;
  background-image: url('https://mrmadtw.files.wordpress.com/2017/08/macos-big-sur-daylight-wallpaper-mrmad-7.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Style the form element with a border around it */
form {
  border: 4px solid #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}