body{
    background-color: rgb(220,220,220);
}

a:link, a:visited {
    color: #E1D6D0;
}

a:hover {
    color: white;
}

a:active {
    color: #ffc4a4 ;
}

.p1 {
    font-family: "Lucida Console", "Courier New", monospace, "Taipei Sans TC Beta";
}

.responsive {
    max-width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the form element with a border around it */
form {
    border: 4px solid #f1f1f1;
  }

  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }